<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    SocietyHub
  </h1>
  <img src="assets/sec.png">
</div>
<div class="cal-wrapper">
  <iframe src="https://calendar.google.com/calendar/embed?src=svcldrq7gk6hgkee86kdbfv320%40group.calendar.google.com&ctz=America%2FChicago" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>



<!--<full-calendar
  defaultView="dayGridMonth"
  [plugins]="calendarPlugins"
  googleCalendarApiKey='AIzaSyDaeeRjcaguG0ZXtoKPn__m3aIT-28r2B4'
  [events]="{googleCalendarId: 'svcldrq7gk6hgkee86kdbfv320@group.calendar.google.com'}">
</full-calendar>-->
